<!-- main/templates/main/about.html -->
{% include 'nav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>Professional Summary</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Around 2+ years of experience as a Python Developer in Design, Development, Implementation of Python, Django, Fast API and client-server technologies-based applications, RESTful services, AWS, React JS, MUI, JavaScript and SQL.
                        </p>
                        <p>
                            Expertise with AI frameworks such as Langchain, LangGraph, Llama Index, AutoGen, PromptFlow, and Crew AI and Used LLMs from OpenAI, Claude, Meta, Mistral, AWS FM'S and Gemma.
                        </p>
                        <p>
                            Experience in all phases of SDLC Process across various workflows (Requirement study, Analysis, Design, Coding, Testing, Deployment and Maintenance) in Web & Client/Server application development.
                        </p>
                        <p>
                            Implemented multiprocessing techniques in PySpark within the AWS Glue environment, resulting in substantial optimization by leveraging parallel processing capabilities. Achieved significant improvements in data processing speed, reduced job execution time, and maximized resource utilization.
                        </p>
                        <p>
                            Demonstrated expertise in leveraging AWS Lambda to seamlessly control EC2 instances, automating start and stop operations based on predefined triggers and schedules, optimizing resource utilization and cost savings.
                        </p>
                        <p>
                            Extensive experience in developing web applications using Python, Django, Flask, Fast API and with several python libraries including Beautiful soup, Twisted, NumPy, Pandas, matplotlib, SciPy, PyQt, Scrapy, SQLAlchemy, Boto3, logging.
                        </p>
                        <p>
                            Proficiently utilized Redis Streams and JSON key-value data model to efficiently process and store structured data, enabling real-time data streaming and advanced querying capabilities.
                        </p>
                        <p>
                            Leveraged the power of SQL window functions to perform advanced data analysis and calculations, including partitioning, ranking, aggregation, and sliding window operations, enabling efficient and flexible data manipulation within the SQL environment.
                        </p>
                        <p>
                            Highly motivated, quality minded developer, with proven ability to deliver applications against tight deadlines.
                        </p>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header bg-success text-white">
                        <h2>Technical Skills</h2>
                    </div>
                    <div class="card-body" >
                        <ul>
                            <li><strong>Languages:</strong> Python, SQL, and JavaScript.</li>
                            <li><strong>Code Editors:</strong> VS Code, PyCharm, and Sublime.</li>
                            <li><strong>Web Technologies & Cloud:</strong> Langchain, Django, Flask, HTML5, CSS3, React JS, JavaScript, Web Services (Restful), Amazon Web Services like EC2, S3, Lambda, Glue, Comprehend, and Textract.</li>
                            <li><strong>Databases:</strong> SQL Server, Oracle, MySQL, PostgreSQL, SQLite, and Redis.</li>
                            <li><strong>Frameworks:</strong> Django, Flask, and Fast API.</li>
                            <li><strong>LLMS Providers:</strong> OpenAI, AWS BedRock, AzureAI.</li>
                            <li><strong>Version Controls:</strong> Git.</li>
                            <li><strong>Methodologies:</strong> Agile.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
